.full-height {
  min-height: calc(100vh - 70px);
}

.light-weight {
  font-weight: 200;
}

.login-btn {
  margin-bottom: 5px
  margin-top: 25px
}

.signup-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navb {
  height: 70px;
  margin-bottom: 0px;
}

.imgS {
  height: 200px;
}

.greenie {
  background-color: #8A9E43;
}

.brownie {
  color: #574240;
  font-weight: 500;
}