html,
body,
.container {
  height: 100%;
}

body,
.bg-color {
  background-color: #FFFFFF;
}

.pink-card {
  background-color: #D99294 !important;
}

.green-card {
  background-color: #8FC1A9 !important;
}

.blue-card {
  background-color: #9DBAD5 !important;
}

.purple-card {
  background-color: #CAA7BD !important;
}

.grey-card {
  background-color: #A7AE9C !important;
}

.yellow-card {
  background-color: #C1C349 !important;
}

.orange-card {
  background-color: #E2A955 !important;
}

.greenie {
  background-color: #8A9E43 !important;
}

.brownie {
  color: #574240;
  font-weight: 600;
}

.navb {
  height: 70px;
  margin-bottom: 0px;

}

.lightBrown {
  background-color: #B1875F !important;
}

.imgS {
  height: 200px;
}

.h80 {
  height: 85%;
}

.skipPAD {
  padding-left: 19px;
  padding-right: 19px;
  margin-top: 10px;
}

.marginTB {
  margin-top: 25px;
  margin-bottom: 25px;
}

.marginT {
  margin-top: 25px;
}

.marginTop {
  margin-top: 100px;
}

.fontW {
  font-size: 19px;
  font-weight: 600;
}

.fontP {
  font-size: 15px;
}

.fontS {
  font-size: 15px;
  font-weight: 600;
}
