.full-height {
  min-height: calc(100vh - 70px);
}

.logout-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.startbtn-font {
  font-family: Verdana, sans-serif;
  font-size: x-large;
}

.navb {
  height: 70px;
  margin-bottom: 0px;
}

.lightBrown {
  background-color: #B1875F;
}

.imgS {
  height: 200px;
}

.greenie {
  background-color: #8A9E43;
}

.brownie {
  color: #574240;
  font-weight: 500;
}
