.full-height {
  min-height: 100vh;
}

.h80 {
  height: 80%;
}

.logout-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.startbtn-font {
  font-family: Verdana, sans-serif;
  font-size: x-large;
}

.navb {
  height: 70px;
}

.imgS {
  height: 200px;
}

.greenie {
  background-color: #8A9E43;
}

.brownie {
  color: #574240;
  font-weight: 500;
}
