html,
body,
.container {
  height: 100%;
}

body,
.bg-color {
  background-color: #FFFFFF;
}

.card-color {
  background-color: #A7AE9C;
}

.greenie {
  background-color: #8A9E43;
}

.brownie {
  color: #574240;
  font-weight: 600;
}

.navMargin {
  margin-bottom: 0px;
}

.navb {
  height: 70px;
}

.imgS {
  height: 200px;
}

.h80 {
  height: 85%;
}

.skipPAD {
  padding-left: 19px;
  padding-right: 19px;
  margin-top: 10px;
}

.marginTB {
  margin-top: 25px;
  margin-bottom: 25px;
}

.marginT {
  margin-top: 25px;
}

.marginTop {
  margin-top: 100px;
}

.fontW {
  font-size: 19px;
  font-weight: 600;
}

.fontP {
  font-size: 15px;
}

.fontS {
  font-size: 15px;
  font-weight: 600;
}
